.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  min-height: 80vh;
  width: 100%;
  overflow: hidden;

}

.inputImage{
  visibility: hidden;
}

.dropzone {
  position: absolute;
  top: 0;
  left: 1%;
  width: 98%;
  height: 98%;
  font-size:xx-large ;
  border: 2px dashed #ccc;
  text-align: center;
  line-height: 20vw;
  /* Rest of the dropzone styles */
}

.blink {

   border: 3px solid transparent;
 }

.blink::before {
  content: "";
  position: absolute;
  top: 0;
  left: 1%;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-radius: inherit;
  box-shadow: 0 0 0 0 transparent;
  animation: aura 2s infinite alternate;

}

@keyframes aura {
  0% {
    border-color: transparent;
    box-shadow: inset 0 0 10px 2px #27ae60;
  }
  50% {
    border-color: #27ae60;
    box-shadow: inset 0 0 20px 4px #27ae60; /* Update box shadow properties */
  }
  100% {
    border-color: transparent;
    box-shadow: inset 0 0 10px 2px #27ae60;
  }
}
